language: python
os: linux
sudo: required
dist: xenial

python:
    - 2.7
    - 3.7
addons:
    apt:
        packages:
            - libhdf5-serial-dev
            - libopenmpi-dev
            - openmpi-bin
install:
    - "pip install future"
    - "pip install git+https://github.com/radiocosmology/caput#egg=caput"
    - "pip install -r requirements.txt"
    - "pip install -e ."
    - "pip install pytest"
script:
    - "pytest tests"
